# Piwigo specific directories
/_data
/plugins/*
!/plugins/index.php
/themes/*
!/themes/index.php
!/themes/default
!/themes/standard_pages
!/themes/stripped
/upload
/galleries/*
!/galleries/index.php
/local/*
!/local/**/index.php
!/local/config/config.inc.php

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse
.settings
.project